article:nth-of-type(odd) {
	background-color: #FBFBFB;
}

article>time {
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
	color: black;
	font-weight: bold;
	white-space: nowrap;
	display: inline-block;
	vertical-align: text-top;
        margin: auto;
        cursor:pointer;
}

p time {
    color: #5F7FBF;
    cursor: pointer;
}

cite {
	padding-right: 5px;
	padding-left: 5px;
	color: #833;
	display: inline-block;
	word-break: break-all;
	vertical-align: text-top;
        margin: auto;
}

p {
	padding-right: 5px;
	padding-left: 5px;
	color: black;
	word-break: break-all;
	display: inline-block;
	vertical-align: text-top;
        margin: auto;
}

p a {
	font-weight: bold;
	color: #1690f3;
}

p a:hover {
	text-decoration: underline;
}

p a:visited {
	color: #0b78d0;
}

p cite {
	color: #5F7FBF;
        cursor: pointer; 
}

.jb3-totoz {
	position: relative;
	font-weight: bold;
	color: #0A1;
}

.jb3-totoz img {
	display: none;
}

.jb3-totoz:hover img {
	display: inline;
	position: absolute;
	bottom: 100%;
}

.jb3-bigorno {
	border: 1px solid #F00;
}